.section5 { 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.midsection{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.midsection img{
}

.area-textos {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.topo h1{
    background-color: #000000;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 2rem;

}

.section5 p {   
    text-align: left;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 5px 30px;
    border-radius: 8px;
    display: inline-block;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.textos1 h1{
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 2rem;

}

.textos2 h1{
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 2rem;

}

#QRCODE {
    width: 40%;
    height: 20%;
    margin: 1rem;
}

#IPHONE {
    width: 30%;
    height: 20%;
    margin: 1rem;
}

#LINKEDINCARD {
    width: 60%;
    height: 20%;
    margin: 1rem;
}

#badgelinkedin {
    width: 10px;
}