.section3 {
    flex-direction: column;
    display: flex;
    align-items: center;
}

#titulo-central h2{
    padding: 0.3%;
    margin: 0%;
    background-color: black;
    width: 100vw;  
    font-family: 'Poppins', sans-serif;
    color: white;

}

/* Container geral */
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* Estilos base para os projetos */
.project {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: flex 0.7s ease, box-shadow 0.5s ease, transform 0.5s ease;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.project-left {
    background-image: linear-gradient(to bottom left, #090D38, #0A0E39, #161D6B, #686a80, #FFF6DB);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.project-right {
    background-image: linear-gradient(to bottom right, #F24E1E, #F24E1E, #d65831, #e98364, #ffffff);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilo do conteúdo dentro dos projetos */
.content {
    background-color: black;
    border-radius: 30px;
    padding: 0.5rem;
    padding-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    opacity: 0.7;
    transition: opacity 0.3s ease, transform 0.5s ease;
    transform: scale(0.9);
}

.foto-projetoE img {
    width: 20rem;
    height: auto;
}

.foto-projetoD img {
    width: 23.1rem;
    height: auto;
}

.foto-projetoE, .foto-projetoD {
    width: auto;
    height: 100vh;
    transition: opacity 0.3s ease, transform 0.5s ease;
    transform: scale(0.8);
}

/* Estilos de hover */
.project:hover {
    flex: 3;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.project:hover .content {
    opacity: 1;
}

.project:hover .foto-projetoD, .project:hover .foto-projetoE {
    opacity: 1;
    transform: scale(1);
}

/* Conteúdo do projeto */
.content h2 {
    font-weight: 700;
    font-size: 4.2em;
    margin-bottom: 20px;
}

.content p {
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: 1.5em;
    margin-bottom: 2rem;
}

.content a {
    font-size: 25px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.content a:hover {
    background-color: rgba(255, 255, 255, 0.6);
    transform: scale(1.05);
}

