.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* Oculta a barra de rolagem mas permite a rolagem suave */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    overflow: hidden;
    position: relative;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.section1 {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0;
    background-color: #ffffff;
    position: relative;
    overflow: visible;
}



.section3 {
    background-color: linear-gradient(to bottom left, 
    #090D38, 
    #0A0E39, 
    #161D6B, 
    #171F73, 
    #FFF6DB);
}

.section4 {
    background-color: #ffffff;
}

.section5 {
    background-color: #8e44ad;
}

#eu {
    margin-top: 10.7rem;
    position: absolute;
    top: -9rem;
    left: 5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 4.12rem;
    color: #000000;
    z-index: 2;
}

.esquerda1 {
    position: relative;
    letter-spacing: -2px;
    white-space: nowrap;
    padding-left: 5rem;
    padding-bottom: 4rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    z-index: 2;
}

.esquerda1 img{
    width: 20rem;
    height: auto;
    margin-top: 1rem;
    padding-top: 2rem;
}

.direita1 {
    width: 45vw;
    padding-right: 1rem;
    padding-top: 3rem;
    z-index: 1;
    position: relative;
}

.direita1 img {
    margin-bottom: 7rem;
    margin-left: 2rem;
    width: 30rem;
    height: auto; 
}

.section1 h2{
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #000000;
}

#job-title {
    font-size: 3.6rem;
}

#bemvindo{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #000000;
    margin-bottom: 5rem;
}

/* Estilos para o header/nav */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    z-index: 10;
    transition: all 0.5s ease;
    font-family: "Poppins", sans-serif;
}

.nav-image {
    width: 280px;
}

.nav-links {
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
    display: flex;
    gap: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #ffffff;
}

.nav-links a:hover {
    color: rgb(209, 77, 0);
    transition:  0.3s ease;
}


.nav-links a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}

.left-text {
    position: absolute;
    left: 20px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

/* Estilos para a transição do header */
.header.hidden {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.5s ease;
}


#back-to-top {
    opacity: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff9d00; /* Cor de fundo */
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.37);
    cursor: pointer;
    transition:  0.3s ease;
    z-index: 15;
}

#back-to-top img {
    width: 100%;
    height: 100%;
}

#back-to-top:hover {
    opacity: 100%;
    background-color: #e67e22; /* Cor ao passar o mouse */
}

#back-to-top:active {
    transform: scale(0.95); /* Efeito de clique */
}
